.container.login-container {
	max-width: 540px;
  }

.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 50px 0;
}

.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 32px 0;
	padding-bottom: 16px;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
    border-bottom: none;
	margin-bottom: 0;
}
.tab-content {
	background: rgba($light, .1);
	padding: 10px;
	border-bottom: solid 1px #000;
  }
  .tab{margin-right: 4px;}
.tab > label {
	display: block;
	margin-bottom: 0px;
	padding: 12px 15px;
	border:none;
	background: rgba($light, .1);
	color: rgba($light,.5);
	font-size: 12px; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;

	background: -moz-linear-gradient(top,  rgba($light,.1) 0%, rgba($dark,0.1) 100%);
background: -webkit-linear-gradient(top,  rgba($light,.1) 0%,rgba($dark,0.1) 100%);
background: linear-gradient(to bottom,  rgba($light,.1) 0%,rgba($dark,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1cffffff',GradientType=0 );
}
.tab:hover label {
	border-top-color: $primary;
}

.tab-content {
	display: none;
	color: #777;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	
	border-top-color: $primary;
	color: $light;
	text-shadow: $dark 0px 0px 3px;
	background-repeat: no-repeat;
	background: -moz-linear-gradient(top,  rgba($light,.5) 10%, rgba($light,0.1) 100%);
background: -webkit-linear-gradient(top,  rgba($light,.5) 10%,rgba($light,0.1) 100%);
background: linear-gradient(to bottom,  rgba($light,.5) 10%,rgba($light,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1cffffff',GradientType=0 );

}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
}
.btn-primary {
	color: #fff;
	background-color: $primary;
	border-color: $primary;

	
  }
  .btn-primary:hover{
	background-color: lighten($color: $primary, $amount: 10) !important;
	border-color: $primary;

}
.btn.btn-primary.btn-block {
	float: right;
  }
@media (max-width: 600px) {
.btn-block{display: block; width: 100%;
}
}